<div class="container">
  <mat-toolbar color="primary" class="header-toolbar mat-elevation-z4" [class.hidden]="toggleSearch">
    <mat-toolbar-row style="padding: 0 5px;">
      <button mat-icon-button>
      <mat-icon>menu</mat-icon>
       </button>
      <div style="padding:8px 0 0 10px; flex:1;">
        <div class="mat-title" style="margin-bottom:2px;"><a style="color: inherit;" href="/">Dealsy</a></div>
        <div class="mat-subheading-2" style="line-height:.6rem;">Find the latest deals!</div>
      </div>
      <button mat-icon-button  (click)="openSearch()">
          <mat-icon>search</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-toolbar class="search-block mat-elevation-z4" [class.active]="toggleSearch">
    <mat-toolbar-row style="padding: 0 5px;">
      <button class="search-icon" mat-icon-button disabled>
        <mat-icon>search</mat-icon>
      </button>
      <input (keydown.enter)="searchDeals($event.target.value)" class="search-control" type="text" placeholder="Search Dealsy" [(ngModel)]="searchText" #searchbar >
      <button mat-button mat-icon-button (click)="searchClose()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <main class="content">
    <router-outlet></router-outlet>
  </main>

  <mat-toolbar class="footer-toolbar" color="primary">
    <span>Clemson Software Engineering 2021</span>
  </mat-toolbar>
</div>