<mat-card class="search">
    <p-table #dt [value]="deals" dataKey="sku" styleClass="p-datatable-search p-datatable-gridlines p-datatable-striped p-datatable-responsive" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} deals" [filterDelay]="0" [globalFilterFields]="['product']">
            <ng-template pTemplate="caption">
                <div class="table-header">
                    <span>All Deals</span>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Filter by keyword" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 9rem">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            Product
                            <p-columnFilter type="text" field="product" display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th style="width: 12rem">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            Brand
                            <p-columnFilter type="text" field="brand" display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th style="width: 10rem">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            Sale Price
                            <p-columnFilter type="text" field="sale_price" display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th style="width: 8rem">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            Price
                            <p-columnFilter type="text" field="price" display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th style="width: 7rem">
                        <div class="p-column-filter">
                            Image
                        </div>
                    </th>
                    <th style="width: 8rem">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            SKU
                            <p-columnFilter type="text" field="sku" display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th style="width: 10rem">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            Ratings
                            <p-columnFilter type="text" field="rating" display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th style="width: 10rem">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            Shipping
                            <p-columnFilter type="text" field="shipping" display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th style="width: 10rem">
                        <div class="p-column-filter">
                            Condition
                            <p-columnFilter type="text" field="condition" display="menu"></p-columnFilter>
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-deal>
                <tr class="p-selectable-row">
                    <td>
                        <span class="p-column-title">Product</span>
                        <a href="https://www.walmart.com/" target="_blank">{{deal.product}}</a>
                    </td>
                    <td>
                        <span class="p-column-title">Brand</span>
                        {{deal.brand}}
                    </td>
                    <td>
                        <span class="p-column-title">Sale Price</span>
                        {{deal.sale_price}}
                    </td>
                    <td>
                        <span class="p-column-title">Price</span>
                        {{deal.price}}
                    </td>
                    <td>
                        <span class="p-column-title">Product Image</span>
                        <img [src]="deal.image" [alt]="deal.product" width="75" class="p-shadow-4"/>
                    </td>
                    <td>
                        <span class="p-column-title">SKU</span>
                        {{deal.sku}}
                    </td>
                    <td>
                        <span class="p-column-title">Rating</span>
                        <p-rating [(ngModel)]="deal.rating" readonly="true" [cancel]="false"></p-rating>
                    </td>
                    <td>
                        <span class="p-column-title">Shipping</span>
                        {{deal.shipping}}
                    </td>
                    <td>
                        <span class="p-column-title">Condition</span>
                        {{deal.condition}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="13" style="text-align:center">No deals found.</td>
                </tr>
            </ng-template>
    </p-table>
</mat-card>